<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Cotizacion</title>
</head>

<body>
    <div class="container">
        <center>
            <h2>Cotiazcion</h2>
        </center>
        <form action="/cotizacion" method="post">
            <label for="">Valor del automovil</label>
            <input type="numbre" id="valor" name="valor" required="true">
            <br><br>
            <label for="">Porcentaje del pago inicial: </label>
            <select name="pinicial" id="pinicial">
                <option value="10" selected>10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select> 
            <br><br>
            <label for="">Plazos:</label>
            <select name="plazo" id="plazo">
                <option value="12" selected>12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses%</option>
            </select> 
            <br><br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>
            <br><br><hr>

            <% 
            let pagoInicial=0; 
            let totalfin=0; 
            let pmensual=0; 
            if(valor!=null){ 
                pagoInicial=valor * (pinicial/100);
                totalfin=valor - pagoInicial; 
                pmensual=totalfin/plazo; %>

                <h3>Información cotización</h3>
                <hr>
                
                Valor del automovil : <%=valor%>
                <br>
                Porcentaje de pago inicial : <%=pinicial%>
                <br>
                Plazos : <%=plazo%>
                
                <br>
                
                Pago inicial : <%=pagoInicial%>
                <br>
                Total a financiar : <%=totalfin%>
                <br>
                Pago mensual : <%=pmensual%>
                <% } %>
                <hr>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>