<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Tabla de multiplicar</title>
</head>

<body>
    <h1>Tabla de multiplicar</h1>
    <br>
    <form action="/tabla" method="post">
        <label for="Tabla">Tabla</label>
        <input type="text" id="numero" name="numero" required="true" value="<%=numero%>">
        <button type="submit">Multiplicar</button>

    </form>
    <br>
    <% let res=0; 
    for(con=0; con<=10;++con) 
    { res=numero * con; %>
        <h3>
            <%=numero%> * <%=con%> = <%=res%>
        </h3>
        <% } %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>